// ==================================================
// Class & placeholders helpers
// ==================================================

// Class
// ==================================================

@mixin single-transition($property, $duration)
  +transition-property($property)
  +transition-duration($duration)

// Class
// ==================================================

.align-center
  margin-left: auto
  margin-right: auto

.align-left
  float: left

.align-right
  float: right

.clear-both
  clear: both

.element-invisible
  display: none !important

.hide-text
  +hide-text

.highlighted
  color: map-get($colors, primary) !important

.text-center
  text-align: center

.text-justify
  text-align: justify

.text-left
  text-align: left

.text-right
  text-align: right

.text-underline
  text-decoration: underline

.mt-20
  margin-top: 20px

.mb-10
  margin-bottom: 10px

.mb-20
  margin-bottom: 20px

.lightblue
  background: map-get($colors, lightblue)

.nopadding
  padding: 0 !important
  margin: 0 !important

.box
  padding: 100px 0 110px
  &.brown
    background: map-get($colors, brown)
  &.brownplus
    background: map-get($colors, brownplus)
  &.beige
    background: map-get($colors, lightbrown)
  &.lightbrown
    background: map-get($colors, lightbrown)
  &.purple
    background: map-get($colors, purple)
  &.orange
    background: map-get($colors, orange)
  &.cream
    background: map-get($colors, cream)

.bg-brown
  background: map-get($colors, brown)
.bg-brownplus
  background: map-get($colors, brownplus)
.bg-beige
  background: map-get($colors, beige)
.bg-lightcream
  background: map-get($colors, lightcream)
.bg-lightbrown
  background: map-get($colors, lightbrown)
.bg-purple
  background: map-get($colors, purple)
.bg-orange
  background: map-get($colors, orange)
.bg-cream
  background: map-get($colors, cream)

.spacer5,
.spacer10,
.spacer20,
.spacer25,
.spacer30,
.spacer35,
.spacer40,
.spacer45,
.spacer50,
.spacer100,
.spacer200
  height: 5px
  width: 100%
  font-size: 0
  margin: 0
  padding: 0
  border: 0
  display: block
.spacer10
  height: 10px
.spacer15
  height: 15px
.spacer20
  height: 20px
.spacer25
  height: 25px
.spacer30
  height: 30px
.spacer35
  height: 35px
.spacer40
  height: 40px
.spacer45
  height: 45px
.spacer50
  height: 50px
.spacer100
  height: 100px
.spacer140
  height: 140px
.spacer200
  height: 200px

.pull-left
  float: left !important

.pull-right
  float: right !important

// Placeholders
// ==================================================

%force-hardware-acceleration
  -webkit-transform: translateZ(0)
